.box-layout__button {
  background: $deep-blue;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 3px $shadow-grey;
  color: white;
  font-size: $font-size-large;
  font-weight: 300;
  height: 5rem;
  width: 20rem;
}